    <div class="py-16 flex items-center">
        <div class="bg-white w-full max-w-lg rounded-lg shadow overflow-hidden mx-auto">
            <div class="mt-1 text-center text-gray-600 text-4xl p-6">
                Selecione um produto!
                <div class="flex items-center">
                  <a class="flex-1 p-4" href="/?mercadoria=sofa">
                    <img src="/views/images/sofa.jpg" alt="Sofá">
                  </a>
                  <a class="flex-1 p-4" href="/?mercadoria=mesa">
                    <img src="/views/images/mesa.jpg" alt="Mesa">
                  </a>
                </div>
            </div>
        </div> 
    </div>
